<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Study Skills | Introduction to Academic Assignments </title>
    <link rel="stylesheet" type="text/css" href="../css/min.css">
     <link rel="stylesheet" href="../css/navstyle.css">
       <link rel="stylesheet" href="../css/style.css">
       <link rel="stylesheet" href="../css/critique.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <meta charset="UTF-8">
    <meta name="description" content="Academic Assignments">
    <meta name="keywords" content="Team 3s, Study Skills, Academic Assignments, Essay, Drafting Essays,
                Constructing Essays, Sample Essays, Interactive Sample Essay, Reports, Report Formats,
                Reading and Writing about Data, Other Assignments, Critiques, Annotated bibliographies,
                Literature Reviews, Help with Assignments, Assignment Help">
		<meta name="author" content="Teams 3S, Sudarshan Kumar Bhattarai, Samundra Dhakal, Sarjeev Adhikari">
		<meta http-equiv="refresh" content="560">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

<body>



    <div id='cssnav'>
      <ul>
        <a href="http://learnline.cdu.edu.au/studyskills/index.html"><img src="../images/logo.jpg" class="logo-image" alt="Charles Darwin University"></a>
       <li ><a href='https://www.cdu.edu.au/'>CDU Home</a></li>
       <li><a href='http://stapps.cdu.edu.au/f?p=100:30:7686819669726:'>Courses</a></li>
       <li><a href='https://www.cdu.edu.au/faculties-schools'>Faculties & Schools</a></li>

       <li><a href='https://www.cdu.edu.au/library/'>Library</a></li>

       <!--search-->
       <input type="text" id="search" name="search"  placeholder="SEARCH HERE" />

    </ul>
  </div>

<div class="centered"> <strong>Academic Assignment </strong></div>


    <div id="sidebar" onclick="toggleSidebar()">
        <div class="toggle-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="navigation">
          <ul class="mainmenu">

            <li><a href="mvp.html">Academic Assignments</a>
               <ul class="submenu">
                 <li><a href="mvp.html">Essays</a></li>
                 <li><a href="mvp.html">Reports</a></li>
                 <li><a href="mvp.html">Other Assignment Types</a><li>
                </ul>
              </li>

            <li><a href="#">Critical Thinking</a>
               <ul class="submenu">
                 <li><a href="#">Critical Thinking at University</a></li>
               </ul>
             </li>

             <li><a href="#">Note Making</a>
                <ul class="submenu">
                  <li><a href="#">Effective Note Making</a></li>
                  <li><a href="#">Strategies</a></li>
                 </ul>
               </li>

               <li><a href="#">Videos & Interactives</a>
                  <ul class="submenu">
                    <li><a href="#">Video Resources</a></li>
                    <li><a href="#">Interactive Resources</a></li>
                   </ul>
                 </li>
                <li><a href="#">Exams</a>
                <li><a href="#">Academic Writing</a>
                <li><a href="#">Referencing</a>
                <li><a href="#">Exams</a>
                <li><a href="#">Research and Reading</a>
                <li><a href="#">Managing Studies</a>



        <button onclick="document.getElementById('id01').style.display='block'", style="width:auto;" >Learnline Login</button>
           </nav>
           <div id="id01" class="modal">

             <form class="modal-content animate" action="/action_page.php">
               <div class="imgcontainer">
                 <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

                 <img src="../images/avatar.png" alt="Avatar" class="avatar">
               </div>

               <div class="container">
                 <label for="uname"><b>Username</b></label>
                 <input type="text" placeholder="Enter Username" name="uname" required>

                 <label for="psw"><b>Password</b></label>
                 <input type="password" placeholder="Enter Password" name="psw" required>

                 <button type="submit">Login</button>
                 <label>
                   <input type="checkbox" checked="checked" name="remember"> Remember me
                 </label>
               </div>

               <div class="container" style="background-color:#f1f1f1">
                 <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                 <span class="psw">Forgot <a href="#">password?</a></span>
               </div>
             </form>
           </div>


      </div>


    <div class="main">
      <img src="../images/main.jpg" alt="" >
    </div>


    <div class="Design">
      <h3> Eassy </h3>
      <img src="../images/essay.jpg" alt="" width="100%">
    <div class="container">
      <p>In this section you will find information related to eassys writtings </p>
      <ul>
        <li> <a href="essay.html#drafting" target="self">Drafting essays </a> </li>
        <li>  <a href="essay.html#constructing" target="self">Constructing essays</a> </li>
      </ul>
    </div>
  </div>

    <div class="Design">
      <h3> Reports </h3>
      <img src="../images/re.jpg" alt="" width="100%">
    <div class="container">
      <p>In this section you will find information related to Report writtings </p>
      <ul>
        <li>  <a href="report.html" target="_self">Reports</a> </li>
        <li>  <a href="tips.html" target="_self">Tips on Reporting</a> </li>
      </ul>
    </div>
  </div>

  <div class="Design">
    <h3>Other Assignment types </h3>
    <img src="../images/other.jpg" alt="" width="100%">
  <div class="container">
    <p>This section provides information on critiques, annotated bibliographies, case studies, care plans and reflective writing. </p>
    <ul>
      <li> <a href="critique.html" target="_self">Critique </a> </li>
      <li>  <a href="Annotated.html" target="_self">Annotated Bibliography</a> </li>
    </ul>
  </div>
</div>


<!--footer-->
    <div class="footer">
      <div class="legal">
        Charles Darwin University acknowledges the traditional custodians across the lands on which we live and work, and we pay our respects to Elders both past and present.

CRICOS Provider No: 00300K (NT/VIC) 03286A (NSW) RTO Provider No: 0373

ABN54 093 513 649
      <div class="social-media-icons">
        <a class="btn" href="http://www.facebook.com/home.php#!/CharlesDarwinUniversity"><i class="fab fa-facebook"></i></a>
        <a class="btn" href="https://www.instagram.com/charlesdarwinuniversity/"><i class="fab fa-instagram"></i></a>
        <a class="btn" href="http://twitter.com/CDUni"><i class="fab fa-twitter"></i></a>
        <a class="btn" href="http://www.linkedin.com/company/charles-darwin-university?trk=copro_tab"><i class="fab fa-linkedin"></i></a>
        <a class="btn" href="https://www.youtube.com/channel/UCKCcLzf49llRjQbNq3llFCg"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

<!--designing a live chat button-->
      <button class="open-button" onclick="openForm()" >Technical Assistance</button>
      <div class="chat-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
          <h1>Hello!</h1>
          <label for="msg"><b>How may we help you?</b></label>
          <textarea placeholder="Type your message. We will connect you to a technical assistance. Thanks." name="msg" required></textarea>

          <button type="submit" class="btn" >Send</button>
          <button type="button" class="btn cancel" onclick="closeForm()">END CHAT</button>
        </form>
      </div>




    <script src="../js/myscript.js"></script>
  </body>
</html>
