<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Study Skills | Introduction to Academic Assignments </title>
    <link rel="stylesheet" type="text/css" href="../css/min.css">
     <link rel="stylesheet" href="../css/navstyle.css">
       <link rel="stylesheet" href="../css/style.css">
            <link rel="stylesheet" href="../css/Tips.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <meta charset="UTF-8">
    <meta name="description" content="Academic Assignments">
    <meta name="keywords" content="Team 3s, Study Skills, Academic Assignments, Essay, Drafting Essays,
                Constructing Essays, Sample Essays, Interactive Sample Essay, Reports, Report Formats,
                Reading and Writing about Data, Other Assignments, Critiques, Annotated bibliographies,
                Literature Reviews, Help with Assignments, Assignment Help">
		<meta name="author" content="Teams 3S, Sudarshan Kumar Bhattarai, Samundra Dhakal, Sarjeev Adhikari">
		<meta http-equiv="refresh" content="560">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

<body>


<!--topnaVIgation-->

    <div id='cssnav'>
      <ul>
        <a href="http://learnline.cdu.edu.au/studyskills/index.html"><img src="../images/logo.jpg" class="logo-image" alt="Charles Darwin University"></a>
       <li ><a href='https://www.cdu.edu.au/'>CDU Home</a></li>
       <li><a href='http://stapps.cdu.edu.au/f?p=100:30:7686819669726:'>Courses</a></li>
       <li><a href='https://www.cdu.edu.au/faculties-schools'>Faculties & Schools</a></li>

       <li><a href='https://www.cdu.edu.au/library/'>Library</a></li>

       <!--search-->
       <input type="text" id="search" name="search"  placeholder="SEARCH HERE" />

    </ul>
  </div>

<div class="centered"> <strong> Tips on Reporting </strong></div>

<!--sidenav-->
    <div id="sidebar" onclick="toggleSidebar()">
        <div class="toggle-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="navigation">
          <ul class="mainmenu">

            <li><a href="mvp.html">Academic Assignments</a>
               <ul class="submenu">
                 <li><a href="mvp.html">Essays</a></li>
                 <li><a href="mvp.html">Reports</a></li>
                 <li><a href="mvp.html">Other Assignment Types</a><li>
                </ul>
              </li>

            <li><a href="#">Critical Thinking</a>
               <ul class="submenu">
                 <li><a href="#">Critical Thinking at University</a></li>
               </ul>
             </li>

             <li><a href="#">Note Making</a>
                <ul class="submenu">
                  <li><a href="#">Effective Note Making</a></li>
                  <li><a href="#">Strategies</a></li>
                 </ul>
               </li>

               <li><a href="#">Videos & Interactives</a>
                  <ul class="submenu">
                    <li><a href="#">Video Resources</a></li>
                    <li><a href="#">Interactive Resources</a></li>
                   </ul>
                 </li>
                <li><a href="#">Exams</a>
                <li><a href="#">Academic Writing</a>
                <li><a href="#">Referencing</a>
                <li><a href="#">Exams</a>
                <li><a href="#">Research and Reading</a>
                <li><a href="#">Managing Studies</a>

<!--login button-->
                  <button onclick="document.getElementById('id01').style.display='block'", style="width:auto;" >Learnline Login</button>
                     </nav>
                     <div id="id01" class="modal">

                       <form class="modal-content animate" action="/action_page.php">
                         <div class="imgcontainer">
                           <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

                           <img src="../images/avatar.png" alt="Avatar" class="avatar">
                         </div>

                         <div class="container">
                           <label for="uname"><b>Username</b></label>
                           <input type="text" placeholder="Enter Username" name="uname" required>

                           <label for="psw"><b>Password</b></label>
                           <input type="password" placeholder="Enter Password" name="psw" required>

                           <button type="submit">Login</button>
                           <label>
                             <input type="checkbox" checked="checked" name="remember"> Remember me
                           </label>
                         </div>

                         <div class="container" style="background-color:#f1f1f1">
                           <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                           <span class="psw">Forgot <a href="#">password?</a></span>
                         </div>
                       </form>
                     </div>


                </div>





              <!--card1-->
                              <div class="Design">
                                <h3> Data Writting </h3>
                                <img src="../images/rew.jpg" alt="" width="100%">
                              <div class="container">
                                <p>One of the most important things to do before you start writing about data is to ensure that you have understood the main idea of what the data shows, or of what you want the data to show.</p>
                                  <div class="example" id="ex3" onclick="ex3off()">
                                    <img src="../images/data.JPG" alt="" >
                                    </div>
                                    <button onclick="ex3on()">Example</button>



                                </div>
                            </div>
                            <!--card2-->
                                            <div class="Design">
                                              <h3>Example 1 - Why children in Afghanistan leave school </h3>
                                              <img src="../images/example1.gif" alt="" width="100%">
                                            <div class="container">
                                              <p>When we describe data, we need to be able to talk about differences in numbers, fractions and percentages</p>

                                                <div class="example" id="ex2" onclick="ex2off()">
                                                  <img src="../images/Afg.JPG" alt="" >

                                                </div>
                                                  <button onclick="ex2on()">Example</button>



                                              </div>
                                          </div>

                                          <!--card3-->
                                                          <div class="Design">
                                                            <h3> Examples 2: Dropout difference by calender </h3>
                                                            <img src="../images/drop.gif" alt="" width="100%">
                                                          <div class="container">
                                                            <p>Ref: Aga Khan Foundation 2007, Why do children leave school? Afghanistan.</p>
                                                              <div class="example" id="ex1" onclick="ex1off()">
                                                                <img src="../images/dropo.JPG" alt="" >

                                                              </div>
                                                                <button onclick="ex1on()">Example</button>



                                                            </div>
                                                        </div>


                                          <!--card4-->
                                                          <div class="Design">
                                                            <h3> Vocabulary : The number of graph </h3>
                                                            <img src="../images/Vocab.jpg" alt="" width="100%">
                                                          <div class="container">
                                                            <p>When we describe data, we need to be able to talk about differences in numbers, fractions and percentages</p>
                                                              <div class="example" id="ex4" onclick="ex4off()">
                                                                <img src="../images/vocabd.JPG" alt="" >

                                                              </div>
                                                                <button onclick="ex4on()">Example</button>



                                                            </div>
                                                        </div>
                                                        <!--card5-->
                                                                        <div class="Design">
                                                                          <h3> Examples 3: Graph Number </h3>
                                                                          <img src="../images/example3.gif" alt="" width="100%">
                                                                        <div class="container">
                                                                          <p>Ref: IELTS graph # 31</p>
                                                                            <div class="example" id="ex5" onclick="ex5off()">
                                                                              <img src="../images/graph.JPG" alt="" >

                                                                            </div>
                                                                              <button onclick="ex5on()">Example</button>



                                                                          </div>
                                                                      </div>
                                                                      <!--card6-->
                                                                                      <div class="Design">
                                                                                        <h3> Examples 4: Comparision and contrast </h3>
                                                                                        <img src="../images/example2.gif" alt="" width="100%">
                                                                                      <div class="container">
                                                                                        <p>The causes of dropout are different from one region to another. As is evident from this graph, parents were cited as the main reason for children not continuing education in Bamyan and Badakhshan</p>
                                                                                          <div class="example" id="ex6" onclick="ex6off()">
                                                                                            <img src="../images/compare.JPG" alt="" >

                                                                                          </div>
                                                                                            <button onclick="ex6on()">Example</button>



                                                                                        </div>
                                                                                    </div>



                <!--footer-->
                    <div class="footer">
                      <div class="legal">
                        Charles Darwin University acknowledges the traditional custodians across the lands on which we live and work, and we pay our respects to Elders both past and present.

                CRICOS Provider No: 00300K (NT/VIC) 03286A (NSW) RTO Provider No: 0373

                ABN54 093 513 649
                      <div class="social-media-icons">
                        <a class="btn" href="http://www.facebook.com/home.php#!/CharlesDarwinUniversity"><i class="fab fa-facebook"></i></a>
                        <a class="btn" href="https://www.instagram.com/charlesdarwinuniversity/"><i class="fab fa-instagram"></i></a>
                        <a class="btn" href="http://twitter.com/CDUni"><i class="fab fa-twitter"></i></a>
                        <a class="btn" href="http://www.linkedin.com/company/charles-darwin-university?trk=copro_tab"><i class="fab fa-linkedin"></i></a>
                        <a class="btn" href="https://www.youtube.com/channel/UCKCcLzf49llRjQbNq3llFCg"><i class="fab fa-youtube"></i></a>
                        </div>
                      </div>

                <!--designing a live chat button-->
                      <button class="open-button" onclick="openForm()" >Technical Assistance</button>
                      <div class="chat-popup" id="myForm">
                        <form action="/action_page.php" class="form-container">
                          <h1>Hello!</h1>
                          <label for="msg"><b>How may we help you?</b></label>
                          <textarea placeholder="Type your message. We will connect you to a technical assistance. Thanks." name="msg" required></textarea>

                          <button type="submit" class="btn" >Send</button>
                          <button type="button" class="btn cancel" onclick="closeForm()">END CHAT</button>
                        </form>
                      </div>




                    <script src="../js/myscript.js"></script>
