/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #211545;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
}

#prep, #part, #overlay, #li, #ex1, #ex2,#ex3{
  position:  fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  overflow-y: auto;
  overflow: scroll;
}


#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: white;
  font-family: monospace;
  font-weight: bolder;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.example>img{
  width: 44%;
  height: 90%;
  margin: 30px 0px 0px 70px;
  display: inline-flex;
}
@media only screen and (max-width: 600px) {
  .example>img{
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
  }
  #text{
    left: 37%;
    top: 70%;
  }
}
