<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Study Skills | Introduction to Academic Assignments </title>
    <link rel="stylesheet" type="text/css" href="../css/min.css">
     <link rel="stylesheet" href="../css/navstyle.css">
       <link rel="stylesheet" href="../css/style.css">
            <link rel="stylesheet" href="../css/critique.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <meta charset="UTF-8">
    <meta name="description" content="Academic Assignments">
    <meta name="keywords" content="Team 3s, Study Skills, Academic Assignments, Essay, Drafting Essays,
                Constructing Essays, Sample Essays, Interactive Sample Essay, Reports, Report Formats,
                Reading and Writing about Data, Other Assignments, Critiques, Annotated bibliographies,
                Literature Reviews, Help with Assignments, Assignment Help">
		<meta name="author" content="Teams 3S, Sudarshan Kumar Bhattarai, Samundra Dhakal, Sarjeev Adhikari">
		<meta http-equiv="refresh" content="560">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

<body>


<!--topnaVIgation-->
    <div id='cssnav'>
      <ul>
        <a href="http://learnline.cdu.edu.au/studyskills/index.html"><img src="../images/logo.jpg" class="logo-image" alt="Charles Darwin University"></a>
       <li ><a href='#'>CDU Home</a></li>
       <li><a href='#'>Courses</a></li>
       <li><a href='#'>Faculties & Schools</a></li>

       <li><a href='#'>Library</a></li>

       <!--search-->
       <input type="text" id="search" name="search"  placeholder="SEARCH HERE" />

    </ul>
  </div>

<div class="centered"> <strong>Critiques </strong></div>

<!--sidenav-->
    <div id="sidebar" onclick="toggleSidebar()">
        <div class="toggle-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="navigation">
          <ul class="mainmenu">

            <li><a href="#">Academic Assignments</a>
               <ul class="submenu">
                 <li><a href="#">Essays</a></li>
                 <li><a href="#">Reports</a></li>
                 <li><a href="#">Other Assignment Types</a><li>
                </ul>
              </li>

            <li><a href="#">Critical Thinking</a>
               <ul class="submenu">
                 <li><a href="#">Critical Thinking at University</a></li>
               </ul>
             </li>

             <li><a href="#">Note Making</a>
                <ul class="submenu">
                  <li><a href="#">Effective Note Making</a></li>
                  <li><a href="#">Strategies</a></li>
                 </ul>
               </li>

               <li><a href="#">Videos & Interactives</a>
                  <ul class="submenu">
                    <li><a href="#">Video Resources</a></li>
                    <li><a href="#">Interactive Resources</a></li>
                   </ul>
                 </li>
                <li><a href="#">Exams</a>
                <li><a href="#">Academic Writing</a>
                <li><a href="#">Referencing</a>
                <li><a href="#">Exams</a>
                <li><a href="#">Research and Reading</a>
                <li><a href="#">Managing Studies</a>

<!--login button-->
                  <button onclick="document.getElementById('id01').style.display='block'", style="width:auto;" >Learnline Login</button>
                     </nav>
                     <div id="id01" class="modal">

                       <form class="modal-content animate" action="/action_page.php">
                         <div class="imgcontainer">
                           <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

                           <img src="../images/avatar.png" alt="Avatar" class="avatar">
                         </div>

                         <div class="container">
                           <label for="uname"><b>Username</b></label>
                           <input type="text" placeholder="Enter Username" name="uname" required>

                           <label for="psw"><b>Password</b></label>
                           <input type="password" placeholder="Enter Password" name="psw" required>

                           <button type="submit">Login</button>
                           <label>
                             <input type="checkbox" checked="checked" name="remember"> Remember me
                           </label>
                         </div>

                         <div class="container" style="background-color:#f1f1f1">
                           <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                           <span class="psw">Forgot <a href="#">password?</a></span>
                         </div>
                       </form>
                     </div>


                </div>



<!--slideshow-->
                <div class="slideshow-container">

                <div class="mySlides fade">
                  <img src="../images/critique1.jpeg" style="width:100%">
                </div>

                <div class="mySlides fade">
                  <img src="../images/critique.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                  <img src="../images/critique2.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                  <img src="../images/critique3.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                  <img src="../images/critique4.jpg" style="width:100%">
                </div>


                </div>
                <br>

                <div style="text-align:center">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>







<!--card1-->
                    <div class="Design">
                      <h3>Layout</h3>
                      <img src="../images/layout.jpg" alt="" width="100%">
                    <div class="container">
                      <p>Layout of a Critique </p>
                      <ul>
                        <li> Introductory Section </li>
                        <li>  Body  </li>
                        <li>  Concluding Section  </li>
                      </ul>
                      <div id="overlay" onclick="off()">
                        <div id="text">Introductory section
                          <ul><li>full bibliographic details</li>
                            <li>overview of what an article or book is about</li>
                            <li>author's conceptual framework.</li>
                          </ul><br>

                          Body
                          <ul><li>Summary of the content of the text (could also include the intended readership)</li>
                            <li>Critical analysis discussing the quality of the text (in terms of content/ideas, structure/organisation of the text, language used).</li>
                          </ul><br>

                          Concluding section
                        <ul>  <li>Final overall evaluation of how well the text achieves its aims and contributes to the topic. This is based on what you have discussed in the critical analysis section.</li>
                        </ul></div>
                      </div>
                        <button onclick="on()">Read More...</button>
                      </div>

                    </div>





<!--card2-->
                    <div class="Design">
                      <h3> Parts  </h3>
                      <img src="../images/parts.jpg" alt="" width="100%">
                    <div class="container">
                      <p>The parts of the critique in more detail : </p>
                      <p>Full bibliographic detail should include:</p>
                      <ul>
                        <li> Author(s)/Editor(s) </li>
                        <li>  Publication Date </li>

                      </ul>
                      <div id="part" onclick="poff()">
                        <div id="text">Full bibliographic detail should include:
                          <ul>  <li> Author(s)/Editor(s) </li>
                            <li>  Publication Date </li>
                            <li>Publisher</li>
                            <li>Title of Text</li>
                            <li>Place of Publication</li>
                            <li>page numbers if from a chapter, or journal article.</li>
                          </ul><br>
                          <p>Where appropriate you might have to provide details about editions, translators, prefaces and so forth.</p>
                          <h2>Author details</h2>
                          <p>Depending upon the context, details about the author's background are not always essential or appropriate. But if they are, provide sufficient detail about the author's background, qualifications or experiences so that the reader has some idea of where the author stands in relation to the field and the subject matter.</p>
                          <h2>Author's conceptual framework</h2>
                          <p>The way in which an author frames the issues under investigation is often referred to as the conceptual framework or methodology or an approach to the topic. It is one of the tasks of a reviewer to alert the reader to the particular framework used by the text's author.</p>
                          <h2>Subject matter</h2>
                          <p>This is a summary of what the content of the text is supposed to be about. It should:</p>
                          <ul><li>Highlight the main argument including the key points or issues</li>
                              <li>Point out the evidence upon which the main claims rest</li>
                              <li>Distinguish between the subject matter and the aims or purposes of the text.</li>
                          </ul>
                          <h2>Critical analysis</h2>
                          <p>This will involve directing several important questions to the text:</p>
                          <ul><li>Has the author achieved his or her aims?</li>
                              <li>Has the author ignored relevant evidence?</li>
                              <li>How has the text contributed to the discipline?</li>
                              <li>Does the evidence adequately support the central argument?</li>
                              <li>How well has the author used the evidence as presented in the text?</li>
                          </ul>
                          <h2>Your concluding interpretation</h2>
                          <p>Your conclusion will point to the book's/article’s usefulness with respect to other already existing works on the subject. This will also include some comment on the writing style of the text and its accessibility for the reader. Finally, consistent with your overall evaluation, you will need to say something about whether others will gain from consulting the work under review.</p>

                        </div>
                      </div>
                        <button onclick="pon()">Read More...</button>
                    </div>
                  </div>



<!--card3-->
                  <div class="Design">
                    <h3>Preparations </h3>
                    <img src="../images/prepare.jpg" alt="" width="100%">
                  <div class="container">
                    <ol><li>Familiarise yourself with the general features of the text. If there is one, examine the table of contents for clues as to the text’s organisational structure. The preface or abstract, will give some idea as to why the author wrote the text.</li>
                      <li>Skim through the various sections taking a...</li>


                    <div id="prep" onclick="prepoff()">
                      <div id="text">
                        <ol><li>Familiarise yourself with the general features of the text. If there is one, examine the table of contents for clues as to the text’s organisational structure. The preface or abstract, will give some idea as to why the author wrote the text.</li>
                          <li>Skim through the various sections taking a mental note of any headings or subheadings.</li>
                          <li>Read the introductory paragraphs noting:
                          <ul><li>the main issues</li>
                          <li>the conceptual framework of the text.</li></ul>
                         </li>
                         <li>Read the concluding paragraphs to pinpoint the author's main conclusions and the principal reasons for them.</li>
                         <li>Make some brief notes summarising your impressions thus far.</li>
                         <li>Return to the article and read it more thoroughly. Make notes about those aspects that will feature in your review, namely the conceptual framework, the key ideas as identified by the author, the data and examples used by the author, and the structure of the main argument(s).</li>
                         <li>Sometimes you might need to consult other works to clarify or verify the point of view that you are developing with respect to the book or article under review.</li>
                         <li>Once you have finished compiling your notes you can begin organising them to produce your critique.</li>
                         <li>Finally, in writing the review you should take extra care to ensure that:
                           <ul><li>You have represented the views of the author and the subject matter of the text accurately and fairly</li>
                             <li>Your own views do not intrude unnecessarily into the critique. The reader of your critique will only be interested in your views to the extent that they help evaluate the content of the text. </li>
                           </ul>
                        </li>
                      </div>
                    </div>
                      <button onclick="prepon()">Read More...</button>
                  </div>
                </div>


<!--card4-->
                <div class="Design">
                  <h3> Examples </h3>
                  <img src="../images/example.jpg" alt="" width="100%">
                <div class="container">
                  <p>Example of Critiques:</p>
                    <div class="example" id="ex3" onclick="ex3off()">
                      <img src="../images/ex3.png" alt="" >
                      <img src="../images/ex4.png" alt="" >
                    </div>
                      <button onclick="ex3on()">Example</button>



                  </div>
              </div>


<!--card5-->
              <div class="Design">
                <h3>Literature Reviews </h3>
                <img src="../images/review.jpg" alt="" width="100%">
              <div class="container">
                <p>A literature review is a discussion of scholarly articles relevant to a particular topic or issue.  In a postgraduate thesis the literature is an important device for setting your study in context, justifying your choice of theoretical or conceptual framework, and ...</p>

                <div id="li" onclick="loff()">
                  <div id="text"><p>A literature review is a discussion of scholarly articles relevant to a particular topic or issue.  In a postgraduate thesis the literature is an important device for setting your study in context, justifying your choice of theoretical or conceptual framework, and indicating your familiarity with the field of study.</p>
                    <p>At both undergraduate and postgraduate level, the purpose of the literature review gives you the opportunity to demonstrate:</p>
                    <ul><li>your depth of knowledge of a topic or issue.</li>
                      <li>your skills in comparing, analysing and evaluating scholarly writing</li>
                      <li>understanding of scholarly writing, debates and competing arguments</li>
                      <li>awareness of different research methodologies.</li>
                    </ul><br>
                    <p>There are several steps in writing a literature review that are explained in the following:</p>
                  <p>  <a href="https://www.monash.edu/rlo">Writing Literature Reviews</a> from Monash University</p>

                  </div>
                </div>
                  <button onclick="lon()">Read More...</button>
              </div>
            </div>














                <!--footer-->
                    <div class="footer">
                      <div class="legal">
                        Charles Darwin University acknowledges the traditional custodians across the lands on which we live and work, and we pay our respects to Elders both past and present.

                CRICOS Provider No: 00300K (NT/VIC) 03286A (NSW) RTO Provider No: 0373

                ABN54 093 513 649
                      <div class="social-media-icons">
                        <a class="btn" href="http://www.facebook.com/home.php#!/CharlesDarwinUniversity"><i class="fab fa-facebook"></i></a>
                        <a class="btn" href="https://www.instagram.com/charlesdarwinuniversity/"><i class="fab fa-instagram"></i></a>
                        <a class="btn" href="http://twitter.com/CDUni"><i class="fab fa-twitter"></i></a>
                        <a class="btn" href="http://www.linkedin.com/company/charles-darwin-university?trk=copro_tab"><i class="fab fa-linkedin"></i></a>
                        <a class="btn" href="https://www.youtube.com/channel/UCKCcLzf49llRjQbNq3llFCg"><i class="fab fa-youtube"></i></a>
                        </div>
                      </div>

                <!--designing a live chat button-->
                      <button class="open-button" onclick="openForm()" >Technical Assistance</button>
                      <div class="chat-popup" id="myForm">
                        <form action="/action_page.php" class="form-container">
                          <h1>Hello!</h1>
                          <label for="msg"><b>How may we help you?</b></label>
                          <textarea placeholder="Type your message. We will connect you to a technical assistance. Thanks." name="msg" required></textarea>

                          <button type="submit" class="btn" >Send</button>
                          <button type="button" class="btn cancel" onclick="closeForm()">END CHAT</button>
                        </form>
                      </div>




                    <script src="../js/myscript.js"></script>
