<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Study Skills | Introduction to Academic Assignments </title>
    <link rel="stylesheet" type="text/css" href="../css/min.css">
     <link rel="stylesheet" href="../css/navstyle.css">
       <link rel="stylesheet" href="../css/style.css">
            <link rel="stylesheet" href="../css/report.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <meta charset="UTF-8">
    <meta name="description" content="Academic Assignments">
    <meta name="keywords" content="Team 3s, Study Skills, Academic Assignments, Essay, Drafting Essays,
                Constructing Essays, Sample Essays, Interactive Sample Essay, Reports, Report Formats,
                Reading and Writing about Data, Other Assignments, Critiques, Annotated bibliographies,
                Literature Reviews, Help with Assignments, Assignment Help">
		<meta name="author" content="Teams 3S, Sudarshan Kumar Bhattarai, Samundra Dhakal, Sarjeev Adhikari">
		<meta http-equiv="refresh" content="560">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

<body>


<!--topnaVIgation-->
    <div id='cssnav'>
      <ul>
        <a href="http://learnline.cdu.edu.au/studyskills/index.html"><img src="../images/logo.jpg" class="logo-image" alt="Charles Darwin University"></a>
       <li ><a href='#'>CDU Home</a></li>
       <li><a href='#'>Courses</a></li>
       <li><a href='#'>Faculties & Schools</a></li>

       <li><a href='#'>Library</a></li>

       <!--search-->
       <input type="text" id="search" name="search"  placeholder="SEARCH HERE" />

    </ul>
  </div>

<div class="centered"> <strong>Reports </strong></div>

<!--sidenav-->

    <div id="sidebar" onclick="toggleSidebar()">
        <div class="toggle-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="navigation">
          <ul class="mainmenu">

            <li><a href="#">Academic Assignments</a>
               <ul class="submenu">
                 <li><a href="#">Essays</a></li>
                 <li><a href="#">Reports</a></li>
                 <li><a href="#">Other Assignment Types</a><li>
                </ul>
              </li>

            <li><a href="#">Critical Thinking</a>
               <ul class="submenu">
                 <li><a href="#">Critical Thinking at University</a></li>
               </ul>
             </li>

             <li><a href="#">Note Making</a>
                <ul class="submenu">
                  <li><a href="#">Effective Note Making</a></li>
                  <li><a href="#">Strategies</a></li>
                 </ul>
               </li>

               <li><a href="#">Videos & Interactives</a>
                  <ul class="submenu">
                    <li><a href="#">Video Resources</a></li>
                    <li><a href="#">Interactive Resources</a></li>
                   </ul>
                 </li>
                <li><a href="#">Exams</a>
                <li><a href="#">Academic Writing</a>
                <li><a href="#">Referencing</a>
                <li><a href="#">Exams</a>
                <li><a href="#">Research and Reading</a>
                <li><a href="#">Managing Studies</a>



        <button onclick="document.getElementById('id01').style.display='block'", style="width:auto;" >Learnline Login</button>
           </nav>
           <div id="id01" class="modal">

             <form class="modal-content animate" action="/action_page.php">
               <div class="imgcontainer">
                 <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

                 <img src="../images/avatar.png" alt="Avatar" class="avatar">
               </div>

               <div class="container">
                 <label for="uname"><b>Username</b></label>
                 <input type="text" placeholder="Enter Username" name="uname" required>

                 <label for="psw"><b>Password</b></label>
                 <input type="password" placeholder="Enter Password" name="psw" required>

                 <button type="submit">Login</button>
                 <label>
                   <input type="checkbox" checked="checked" name="remember"> Remember me
                 </label>
               </div>

               <div class="container" style="background-color:#f1f1f1">
                 <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                 <span class="psw">Forgot <a href="#">password?</a></span>
               </div>
             </form>
           </div>


      </div>

<div class="video">
<iframe width="2000" height="550" src="https://www.youtube.com/embed/GV4yMF8vx6o?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>




<!--card1-->
                    <div class="Card">
                      <h3>Report Format</h3>
                    <div class="container">

                      <p>Reports are usually divided into three parts:
                    <ul>Preliminary information

                      <li>Title page</li>
                      <li>Executive summary/synopsis</li>
                      <li>Table of contents</li>
                      <li>List of illustrations</li>
                      <li>Acknowledgements.</li>
                    </ul>
                      <ul>Body of the report
                      <li>  A statement of aims including a hypothesis.</li>
                      <li>A rationale for your research (that is why you did it).</li>
                      <li>A description of methodology (that is how you did the research).</li>
                      <li>Your results (that is what you found out).
                      <li>Some analysis (that is an interpretation of what the results meant).</li>

                      <li>Conclusion (and recommendations for action).</li>
                    </ul>
                      <ul>Supporting material
                      <li>References</li>
                      <li>Appendices.</li>
                      </ul>
                      </p>

                      <p><strong>Have a look on video from UNIVERSITY OF SOUTH AUSTRALIA for more knowledge</strong></p>


                    </div>
                  </div>



                  <div class="Card">
                    <h3> What is Report?  </h3>
                    <img src="../images/report.jpg" alt="" width="100%">
                  <div class="container">
                    <p>Report </p>
                    <ul>
                      <li>Presents information (description and explanation) </li>
                      <li>Makes use of numbered headings, and sub headings</li>
                        <li>Makes use of dot point presentation as well as short concise paragraphs</li>
                          <li>Can be scanned quickly for specific information</li>
                            <li>Uses graphics where possible</li>
                            <li>May end with recommendations</li>
                              <li>Research may be primary and secondary</li>
                            </ul>

                  </div>
              </div>

<!--card3-->
<div class="Card">
  <h3> What is Eassy? </h3>
  <img src="../images/Ea1.jpg" alt="" width="100%">
<div class="container">
  <p>Difference of Eassy from Report </p>
  <ul>
    <li> Presents an explicit argument </li>
    <li> Does not require headings </li>
    <li>Written in paragraphs which are linked clearly to each other  </li>
    <li> Needs to be read in detail to gain understanding of argument </li>
    <li> Usually no use of graphics </li>
    <li>Rarely has recommendations</li>
    <li>Research usually secondary/tertiary sources</li>


  </ul>

</div>
</div>


<div class="Card">
  <h3> Business Report  </h3>
  <img src="../images/Business.jpg" alt="" width="100%">
<div class="container">
  <p>Business reports vary in their subject matter and length, but their structural layout is much the same as other reports. </p>
<ol>
<li>  <strong>Preliminaries</strong></li>
<ul>  <li> Title Page</li>
  <li>Acknowledgments </li>
    <li> Table of contents </li>
      <li>  List of illustration</li>
      <li>Executive summary  </li>
    </ul>
     <li><strong>Body OF Report</strong></li>
        <ul><li> Introduction</li>
          <li>Findings </li>
            <li> Analysis </li>
              <li>Conclusion </li>
              <li>Recommendations</li>
            </ul>
              <li>  <strong>Supporting Materials</strong></li>
                <ul> <li> Appendices </li>
                  <li>  References </li>
                  <li> Glossary </li>
                    <li> Abbreviations </li>
              </ul></ol>


</div>
</div>



<div class="Card">
  <h3>Science laboratory reports </h3>
  <img src="../images/Science.jpg" alt="" width="100%">
<div class="container">
  <p>The purpose of a research report is to provide an account of your research in a particular area. </p>
  <p>Your report will need to provide your reader with the following core information:</p>


   <ol>

<li> <strong>Preliminaries</strong></li>
      <ul><li> Title Page</li>
      <li>Acknowledgments </li>
        <li> Table of contents </li>
          <li>  List of illustration</li>
          <li>Abstract  </li>
        </ul>
        <li>  <strong>Body OF Report</strong></li>
            <ul><li> Introduction</li>
              <li>Method </li>
                <li> Results </li>
                  <li>  Discussion</li>
                  <li>Conclusion </li>
                </ul>
              <li>  <strong>Supporting Materials</strong></li>
                  <ul>  <li> Appendices </li>
                      <li>  References </li>
                  </ul></ol>


</div>
</div>

<div class="Card">
  <h3>Research Report </h3>
  <img src="../images/Research.jpg" alt="" width="100%">
<div class="container">
  <p>The purpose of a research report is to provide an account of your research in a particular area. </p>
  <p>Your report will need to provide your reader with the following core information:</p>

<p>What was the purpose of your research?</p>
<p>What were the results?</p>
<p>What does it mean?</p>
<p> General structure:</p>
  <ol>
  <li>  <strong>Preliminaries</strong></li>
    <ul><li> Title Page</li>
    <li>Acknowledgments </li>
      <li> Table of contents </li>
        <li>  List of illustration</li>
        <li>Abstract  </li>
      </ul>
    <li>   <strong>Body OF Report</strong></li>
        <ul > <li> Introduction</li>
            <li>  Literature review</li>
            <li>Method </li>
              <li> Results </li>
                <li>  Discussion</li>
                <li>Conclusion </li>
              </ul>
                <li>  <strong>Supporting Materials</strong></li>
                <ul>  <li> Appendices </li>
                    <li>  References </li>
                </ul></ol>



</div>
</div>

<div class="Design">
  <h3>Learning and practice</h3>
  <img src="../images/Play.jpg" alt="" width="100%">
<div class="container">
<p> Here is fantastic learning material of APA 6th - from journal to referencing with its practice</p>
  <ul>
    <li> <a href="http://learnline.cdu.edu.au/studyskills/studyskills/media/journal_to_reference/story_html5.html" target="_blank">READ ME </a> </li>

    <li>  <a href="http://learnline.cdu.edu.au/studyskills/studyskills/media/apa_drag_drop/story_html5.html " target="_blank">TRY ME</a> </li></ul>

</div>
</div>




                <!--footer-->
                    <div class="footer">
                      <div class="legal">
                        Charles Darwin University acknowledges the traditional custodians across the lands on which we live and work, and we pay our respects to Elders both past and present.

                CRICOS Provider No: 00300K (NT/VIC) 03286A (NSW) RTO Provider No: 0373

                ABN54 093 513 649
                      <div class="social-media-icons">
                        <a class="btn" href="http://www.facebook.com/home.php#!/CharlesDarwinUniversity"><i class="fab fa-facebook"></i></a>
                        <a class="btn" href="https://www.instagram.com/charlesdarwinuniversity/"><i class="fab fa-instagram"></i></a>
                        <a class="btn" href="http://twitter.com/CDUni"><i class="fab fa-twitter"></i></a>
                        <a class="btn" href="http://www.linkedin.com/company/charles-darwin-university?trk=copro_tab"><i class="fab fa-linkedin"></i></a>
                        <a class="btn" href="https://www.youtube.com/channel/UCKCcLzf49llRjQbNq3llFCg"><i class="fab fa-youtube"></i></a>
                        </div>
                      </div>
                    </div>
                <!--designing a live chat button-->
                      <button class="open-button" onclick="openForm()" >Technical Assistance</button>
                      <div class="chat-popup" id="myForm">
                        <form action="/action_page.php" class="form-container">
                          <h1>Hello!</h1>
                          <label for="msg"><b>How may we help you?</b></label>
                          <textarea placeholder="Type your message. We will connect you to a technical assistance. Thanks." name="msg" required></textarea>

                          <button type="submit" class="btn" >Send</button>
                          <button type="button" class="btn cancel" onclick="closeForm()">END CHAT</button>
                        </form>
                      </div>




                    <script src="../js/mscript.js"></script>
